<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'mycss/bookstyle.css' %}">
    <link rel="stylesheet" href="{% static 'javascript/books.js' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>Dashboard</title>
</head>
<body>
    <div id="mysidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="nav-brand nav-link" id="logo"><i class='bx bxs-book-alt' ></i></a>
        <ul class="nav flex-column" id="vertical-nav">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8000/books/dashboard/">
                    <i class="bx bx-grid-alt nav_icon"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/books/booktable/">
                    <i class='bx bx-book-add'></i>
                    <span>Add book</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/books/showresult/">
                    <i class='bx bx-data'></i>
                    <span>View book</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/books/logout/">
                    <i class='bx bx-log-out' ></i>
                    <span>Logout</span>
                </a>
            </li> 
        </ul>
      </div>
      <div class="jumbotron-fluid">
        <h2 id="heading"><span style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776;</span>Book Record Management</h2>
      </div>
      <h4 class="p-3" style="color: rgb(73,80,87)">Add Book</h4>

    <div class="container align-item-center">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-6 shadow p-5 mb-4 bg-white rounded">
            <form action="http://localhost:8000/books/booktable/" method="POST">
            {% csrf_token %}
            {{ showform.as_p }}
            <input type="submit" value="Add Book" class="btn btn-success">
            </form>    
            </div>
        </div>
        {% if messages %}
            {% for msg  in messages %}
                <small {% if msg.tags %} class="{{msg.tags}}" {% endif %} style="color:green;">
                    {{msg}}
                </small>
            {% endfor %}
        {% endif %}
    </div>

      <script>
        function openNav(){
            document.getElementById('mysidenav').style.width="250px"
            document.getElementById('main').style.marginLeft="250px"
        }
        function closeNav(){
            document.getElementById('mysidenav').style.width = "0"
            document.getElementById('main').style.marginLeft = "0"
        }
      </script>
</body>
</html>